@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@700;900&family=Roboto:wght@400;700&display=swap');

.container {
    max-width: 1100px;
    width: 90%;
    margin: 0 auto;
}

h1,
h2,
h3 {
    font-family: 'Montserrat', 'sans-serif';
    @apply text-primary font-bold;
}

h1 {
    @apply text-4xl lg:text-6xl;
}

h2 {
    @apply text-4xl lg:text-5xl;
}

h3 {
    @apply text-xl lg:text-4xl;
}

body {
    font-family: 'Roboto', 'sans-serif';
}
